PORT=5000
MONGO_URI=mongodb://localhost:27017/veyuReels
JWT_SECRET=your_django_jwt_secret
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret
CLOUDINARY_URL=cloudinary://your_key:your_secret@your_name
CORS_ORIGIN=http://localhost:3000